# Section 2: Visualisations

## Objectives:

 This visualisations notebook expands on the ETL notebook. It uses the cleaned data "corals_worldwide_dataset_cleaned.csv" 
 to create advanced visualisations for investigating the Coral Reef dataset.

## Input Data:

The input data can be found under "Dataset/cleaned/ "
The name of the file is called:

"corals_worldwide_dataset_cleaned.csv"

___

# Change working directory

* We are assuming you will store the notebooks in a subfolder, therefore when running the notebook in the editor, you will need to change the working directory

We need to change the working directory from its current folder to its parent folder

* We access the current directory with os.getcwd()

In [6]:
import os
current_dir = os.getcwd()
current_dir

'/Users/danielledelouw/Documents/code_institute/Coral_Reef_AI/Coral_Reef_AI/jupyter_notebooks'

We want to make the parent of the current directory the new current directory

* os.path.dirname() gets the parent directory
* os.chir() defines the new current directory

In [7]:
os.chdir(os.path.dirname(current_dir))
print("You set a new current directory")

You set a new current directory

Confirm the new current directory

In [8]:
current_dir = os.getcwd()
current_dir

'/Users/danielledelouw/Documents/code_institute/Coral_Reef_AI/Coral_Reef_AI'

## Load Python Libraries

In [9]:
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
import numpy as np

## Load Cleaned Data:

In [10]:
df = pd.read_csv('Dataset/cleaned/corals_worldwide_dataset_cleaned.csv')
df

,name,salinity,January_temp,June_temp,area,latitude,longitude,type_of_sea,corals,silt_or_sulfide
0,Adriatic Sea,38.298527,15.658799,20.855299,138000,43,15,2,1,0
1,Adriatic Sea,38.304909,16.297098,19.501200,138000,43,15,2,1,0
2,Adriatic Sea,38.462040,16.251598,19.028500,138000,43,15,2,1,0
3,Adriatic Sea,38.121601,15.709500,22.882999,138000,43,15,2,1,0
4,Adriatic Sea,38.519196,15.733400,21.824799,138000,43,15,2,1,0
...,...,...,...,...,...,...,...,...,...,...
2446,Yellow Sea,31.611076,8.349999,19.500000,380000,38,123,3,0,1
2447,Yellow Sea,31.468084,8.441801,19.800000,380000,38,123,3,0,1
2448,Yellow Sea,31.600788,8.432699,20.700000,380000,38,123,3,0,1
2449,Yellow Sea,31.533226,8.102799,19.000000,380000,38,123,3,0,1
2450,Yellow Sea,30.992769,7.899599,20.700000,380000,38,123,3,0,1